*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    
}

.logo img{
    background: #fff;
}

nav{
    flex: 1;
    text-align: right;
}

nav ul{
    display: inline-block;
    list-style-type: none;

}

nav ul li{
    display: inline-block;
    margin-right: 20px;

}

a{
    text-decoration: none;
    color: rgb(255, 193, 152);
}

p{
    color: rgb(189, 186, 231);
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;

}

.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;   
}

.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    margin-left: 20px;
    max-width: 100%;
    padding: 50px 0;
}

.col-2 h1{
    color: rgb(240, 149, 149);
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}

.btn{
    display: inline-block;
    background: #ffffff;
    color: rgb(43, 0, 122);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.header{
    background: radial-gradient(rgb(75, 26, 26),#000000);
}

.header .row{
    margin-left: 20px;
}

.cat{
    margin: 70px 0;
}

.col-3{
    flex: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}

.col-3 img{
    width: 100%;
    padding: 10px;
}

.vl {
    border-left: 4px solid rgb(75, 40, 37);
    height: 350px;
}


.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
} 

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}

.col-4 img{
    border: #000 20px;
    width: 100%;
}

.col-4 a{
    color: #ff523b;
}

.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 46%;
    transform: translateX(-50);
}

h4{
    color: #555;
    font-weight: normal;
}

.col-4 p{
    font-size: 14px;
}

.col-4:hower{
    transform: translateY(-5px);
}


/*---------------testimonial-------------------*/

.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    margin: 10px;
    padding: 60px 40px;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 10px;
}

.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}

.testimonial .col-3 :hower{
    transform: translateY(-100px);
}

.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}

.testimonial col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}


/*------------------brands---------------*/

.brands{
    margin: 100px auto;
}

.col-5{
    width: 160px;
}

.col-5 img{
    width: 100%;
    cursor: pointer;
}

/*-------------------footer--------------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}

.footer p{
    color: #8a8a8a;
}

.footer h3{
    color: #fff;
    margin-bottom: 20px;
}

.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
    min-width: 250px;
    margin-bottom: 20px;

}

.footer-col-1{
    flex-basis: 30%;
}

.footer-col-2{
    flex: 1;
    text-align: center;
}

.footer-col-2 img{
    margin-bottom: 20px;
    background: #fff;
}

.footer-col-3, .footer-col-4{
    flex-basis: 12%;
    text-align: center;
}

ul{
    list-style-type: none;
}

.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin: 20px 0;
}

.Copyright{
    text-align: center;
}

/*------------------cart.html-----------*/

.cart-container{
    background: radial-gradient(rgb(75, 26, 26),#000000);
}

.products-container{
    max-width: 650px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 50 px;
}

.product-header{
    width: 100%;
    max-width: 650px;
    display: flex;
    justify-content: center;
    border-bottom: 4px solid lightgray;
    margin-top: 100px;
}

.product-title{
    width: 55%;
}

.price{
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.quantity{
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.total{
    width: 15%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}

.product{
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content:space-around;
    padding: 5px 0;
    align-items: center;
}

.product img{
    width: 65px;
}

.cont{
    max-width: 650px;
    justify-content: space-around;
    margin: 0 auto;
}

.basketTotalContainer{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.basketTotalTitle{
    font-size: 20px;
    width: 25%;
}

.basketTotal{
    width: 15%;
}

.payment{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
}

.btn{
    font-size: 20px;
    width: 25%;
}

